@media (max-width: 575px) {
   .overlay {
      .modal {
         min-height: 380px;
         padding: 20px;
         width: 290px;
         &__close {
            top: 5px;
            right: 10px;
            font-size: 30px;
            font-weight: 900;
         }
      }
      .feed-form {
         width: 250px;
      }
   }
}