@media (max-width: 991px) {
   .promo {
      background-position: 35% 0;
      min-height: 620px;
      padding-bottom: 90px;
      &__wrapper {
         margin-top: 60px;
         align-items: center;
      }
   }
}
@media (max-width: 767px) {
   .promo {
      background-position: 20% 0;
   }
}
@media (max-width: 575px) {
   .container {
      width: 290px;
      padding: 0px;
   }
   .promo {
      padding-bottom: 50px;
      background-position: 30% 0;
      &__wrapper {
         margin-top: 35px;
      }
      &__header {
         font-size: 30px;
         line-height: 40px;
         text-align: center;
      }
      &__subheader {
         font-size: 16px;
         text-align: center;
         line-height: 25px;
      }
      &__icons {
         align-items: flex-start;
         margin-top: 50px;
         width: 100%;
      }
      &__icon {
         width: 106px;
         margin-bottom: 25px;
      }
      &__button--media {
         margin-top: 40px;
         width: 250px;
         font-size: 15px;
      }
   }
}